
button{
    background-color: greenyellow;
    border: none;
}
.bu{
    background-color: greenyellow;
}
button:hover{
    cursor: pointer;
}
.input{
    border: none;
    outline: none;
}
td{
    padding: 10px;
}
.del{
    background-color: red;
}
h1,h2{
    color:#f1356d;
}